<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sc.mapper.SiteInformationMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.sc.bean.SiteInformation" >
	<result column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="city" property="city"/>
	<result column="mobile" property="mobile"/>
	<result column="email" property="email"/>
	<result column="know" property="know"/>
	<result column="inform" property="inform" />
	<result column="state" property="state"/>
	<result column="create_time" property="create_time"/>
	<result column="update_time" property="update_time"/>
</resultMap>
       
<!-- TbcClassify table all fields -->
<sql id="Base_Column_List" >
	id, name, city, mobile, email, know, inform, state, create_time, update_time
</sql>
     
<!-- 查询条件 -->
<sql id="Example_Where_Clause">
where  1=1
<trim  suffixOverrides="," >
	<if test="name != null and name != ''" >
	    and name like CONCAT('%', #{name}, '%')
	</if>
	<if test="state != null" >
	    and state = #{state}
	</if>
</trim>
</sql>

<!-- 分类 列表总数-->
<select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from site_information
	<include refid="Example_Where_Clause"/>
</select>

<!-- 查询站点分类列表 -->
<select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from site_information 
	<include refid="Example_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
      ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
</select>

<!-- 逻辑修改，将state 改成 1 -->
<update id="update" parameterType="Object">
	update site_information set state = 1 where id = #{id}
</update>

<!-- 逻辑修改，将state 改成 2 -->
<update id="updateAudit" parameterType="Object">
	update site_information set state = 2 where id = #{id}
</update>
 
<!-- 查询所有站点类型 -->
<select id="queryByAll"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> from site_information
</select>



</mapper>   
